<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>projet_e_commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>controleur_user</display-name>
    <servlet-name>controleur_user</servlet-name>
    <servlet-class>controleur.controleur_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controleur_user</servlet-name>
    <url-pattern>/controleur_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controleur</display-name>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>controleur.Controleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/Controleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAOCategorie</display-name>
    <servlet-name>DAOCategorie</servlet-name>
    <servlet-class>DAO.DAOCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAOCategorie</servlet-name>
    <url-pattern>/DAOCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurPanier</display-name>
    <servlet-name>ControleurPanier</servlet-name>
    <servlet-class>controleur.ControleurPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurPanier</servlet-name>
    <url-pattern>/ControleurPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierSupprimerProduit</display-name>
    <servlet-name>PanierSupprimerProduit</servlet-name>
    <servlet-class>controleur.PanierSupprimerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierSupprimerProduit</servlet-name>
    <url-pattern>/PanierSupprimerProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Controleurgestion</display-name>
    <servlet-name>Controleurgestion</servlet-name>
    <servlet-class>controleur.Controleurgestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleurgestion</servlet-name>
    <url-pattern>/Controleurgestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controleurproduit</display-name>
    <servlet-name>Controleurproduit</servlet-name>
    <servlet-class>controleur.Controleurproduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleurproduit</servlet-name>
    <url-pattern>/Controleurproduit</url-pattern>
  </servlet-mapping>
</web-app>